<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo: Schnellzug" width="60" height="30">
            railquery.de
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menü</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/arrow-right-circle.svg') }}"
                                 class="align-middle" alt="RIL100 Arrow" title="RIL100">
                            RIL100
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/typen">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/chat-left-quote.svg') }}"
                                 class="align-middle" alt="Typen von Betriebsstellen" title="Typen von Betriebsstellen">
                            Typen von Betriebsstellen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regionen">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/map.svg') }}"
                                 class="align-middle" alt="Kennbuchstaben" title="Kennbuchstaben">
                            Kennbuchstaben
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/betriebszustand">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/activity.svg') }}"
                                 class="align-middle" alt="Betriebszustände" title="Betriebszustände">
                            Betriebszustände
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item ">
                        <a class="nav-link" href="/impressum">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/blockquote-left.svg') }}"
                                 class="align-middle" alt="Impressum" title="Impressum">
                            Impressum
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/contact">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/envelope-heart.svg') }}"
                                 class="align-middle" alt="Kontakt" title="Kontakt">
                            Kontakt
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://github.com/niggiover9000/railquery" target="_blank">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/github.svg') }}"
                                 class="align-middle" alt="Github" title="Github">
                            Github
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://paypal.me/NicolasBartels" target="_blank">
                            <img src="{{ url_for('static', filename='img/bootstrap-icons-1.11.3/paypal.svg') }}"
                                 class="align-middle" alt="Paypal" title="Paypal">
                            Spenden
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item ">
                        © <span id="year"></span> Nicolas Bartels
                    </li>
                    <script>
                        document.getElementById("year").textContent = new Date().getFullYear();
                    </script>
                </ul>
            </div>
        </div>
    </div>
</nav>