{%include "elements/header.html"%}
<body>
{%include "elements/navbar.html"%}
<div class="container mt-5">
    <h1 class="mb-4 d-inline">Typen von Betriebsstellen</h1>
    <div class="row">
        <ul id="results" class="list-group mt-3 col-md-12 col-sm-12">
            {% for elements in art %}
            <li class="list-group-item">
                {{ elements }}: {{art[elements]}}
                <br>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
{%include "elements/scripts.html"%}
</html>